atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.3.9
chardet==3.0.4
codecov==2.0.15
colorama==0.4.1
coverage==4.5.3
cycler==0.10.0
idna==2.8
importlib-metadata==0.17
joblib==1.2.0
kiwisolver==1.1.0
matplotlib==3.1.0
more-itertools==7.0.0
nltk==3.4.5
numpy==1.16.4
packaging==19.0
pandas==0.24.2
patsy==0.5.1
pluggy==0.12.0
py==1.8.0
pyparsing==2.4.0
pytest==4.6.0
pytest-cov==2.7.1
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
saxpy==1.0.1.dev167
scikit-learn==0.21.2
scipy==1.2.0
seaborn==0.9.0
six==1.12.0
sklearn==0.0
statsmodels==0.9.0
urllib3==1.25.3
wcwidth==0.1.7
zipp==0.5.1
